      <!-- Main Content -->
      <div class="content-box">
         <!-- Hero Section -->
         <section class="section section-hero">
            <div class="hero-box">
               <div class="container">
                  <div class="hero-text align-center">
                     <h1>Панорамдекс</h1>
                     <p>опережая события</p>
                  </div>


                  <form action="/results">
                     <input type="text" name="input_str" placeholder="Чего надобно?">
                     <input type="submit" name="submit" value="Отправить">
                  </form>
               </div>
            </div>
